.about1 {
    display: flex;
    flex-wrap: wrap;
    padding: 150px 0;
    padding-bottom: 150px;
}

.aboutimg {
    flex: 0.5;
    text-align: right;
}

.aboutimg img {
    margin-top: -70px;
}

.aboutpara {
    flex: 0.5;
}

.aboutpara h1 {
    color: rgb(253, 57, 8);
    font-size: 3.5rem;
    margin-top: -20px;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.aboutpara p {
    line-height: 22px;
    color: rgb(14, 14, 14);
}

.about2 h1 {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 50px;
}

.about2 .food-items {
    margin: 0;
    background-color: transparent;
}

.about2 .food-items .item {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(212, 86, 1, 0.637);
    margin-bottom: 40px;
}

.about2 .food-items .item div {
    height: 270px;
}

.about2 .food-items h3 {
    color: rgb(255, 105, 5);
}

.about3 {
    padding: 100px 0;
    padding-bottom: 150px;
    text-align: center;
}

.about3 h1 {
    font-size: 2.5rem;
    padding-bottom: 40px;
    color: rgb(253, 57, 8);
}

.about3 p {
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    .about1 {
        flex-direction: column-reverse;
    }
    .aboutimg {
        flex: 1;
        text-align: center;
    }
    .aboutpara {
        margin-top: 70px;
    }
}

@media only screen and (max-width: 550px) {
    .aboutimg img {
        width: 80vw;
    }
    .aboutpara h1 {
        font-size: 2.5rem;
    }
    .about1 {
        padding-top: 100px;
        padding-bottom: 90px;
    }
    .aboutpara p {
        text-align: justify;
        line-height: 18px;
        font-size: 13px;
    }
    .about2 h1 {
        font-size: 2.3rem;
        padding-bottom: 40px;
    }
    .about3 {
        padding: 80px 0;
        padding-bottom: 130px;
        text-align: center;
    }
    .about3 h1 {
        font-size: 2.4rem;
        padding-bottom: 30px;
    }
    .about3 p {
        font-size: 14px;
    }
}